/* -------------------------------------------------------------------------------------------------- */
/* Home Page Layout (home.css) */
/* -------------------------------------------------------------------------------------------------- */

/* Reset */
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Hero Section */
.hero-section {
  height: 110vh;
  width: 100vw;
  position: relative;
  z-index: 1;
}

/* About Container */
.about-container {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  z-index: 2;
}

/* -------------------------------------------------------------------------------------------------- */

/**
  * MEDIA QUERIES FOR MOBILE/SMALL TABLETS (Max Width 768px)
  */
@media screen and (max-width: 768px) {
  .hero-section {
    height: 110vh;
  }
  
  .about-container {
    min-height: 100vh;
  }
}